@model Curricularizacao.Models.Atividade

@{
    ViewData["Title"] = "Detalhes da Atividade";
}

<p><strong>Descrição:</strong> @Model.Descricao</p>
<p><strong>Número Máximo de Alunos:</strong> @ViewBag.MaxAlunos</p>
<p><strong>Quantidade de Alunos Matriculados:</strong> @ViewBag.NumeroMatriculados</p>

<a href="@Url.Action("Index", "Atividade")" class="btn btn-primary">Voltar para lista de Atividades</a>
