
<img src="logo.png" class="logo-marca"></img>
<br>
<ul>
    <br>
    <a href="/Aluno"><button class="btn btn-primary">Gerenciar Alunos</button></a>
    <a href="/Professor"><button class="btn btn-primary">Gerenciar Professores</button></a>
    <a href="/Atividade"><button class="btn btn-primary">Gerenciar Atividades</button></a>
    <a href="/Matricula"><button class="btn btn-primary">Gerenciar Matrículas</button></a>
</ul>