<h2>Bem-vindo ao Sistema de Curricularização</h2>
<ul>
    <li><a href="/Aluno">Gerenciar Alunos</a></li>
    <li><a href="/Professor">Gerenciar Professores</a></li>
    <li><a href="/Atividade">Gerenciar Atividades</a></li>
    <li><a href="/Matricula">Gerenciar Matrículas</a></li>
</ul>